.posts-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.post-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #e74c3c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.user-info {
  display: flex;
  flex-direction: row;
  gap: 7px;
  
}

.username {
  font-weight: bold;
}

.post-time {
  color: #676463;
  font-size: 0.9rem;
  margin-top: 2px;
}

.post-content {
  margin-bottom: 15px;
  line-height: 1.5;
}

.post-actions {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.like-button.liked {
  color: rgb(0, 60, 255);
  font-weight: bold;
}

.post-actions button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #7f8c8d;
  transition: color 0.3s;
}

.post-actions button:hover {
  color: #3498db;
}

.post-actions-extra{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.post-actions-extra button {
  
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 0.95rem;
}

.like-contat{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.titulo_categoria{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 8px;
}

.titulo-relato a{
  font-weight: bold;
  color: #f5b70d;
}

.titulo-relato{
  /* font-size: 1.2rem; */
  font-weight: bold;
  color: #0daff5;
  /* margin-top: 5px; */
  margin-bottom: 8px;
  /* margin-left: 10px; */
}

.grave{
  background-color: rgba(231, 76, 60, 0.3); /* 30% de opacidade */
}

.leve{
  background-color: rgba(241, 196, 15, 0.3); /* 30% de opacidade */
}

.mediano{
  background-color: rgba(243, 156, 18, 0.3); /* 30% de opacidade */
}