.indicativo {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    margin-right: 8px;
    border: 1px solid #ddd;
}

.indicativo.disponivel {
    background-color: white;
    border: 1px solid #ccc;
}

.indicativo.bloqueado {
    /* Define um gradiente linear para criar a divisão de duas cores */
    background: linear-gradient(
        to bottom right, /* Direção do gradiente: do canto superior esquerdo para o inferior direito */
        #a0a0a0 50%,     /* Primeira cor, ocupando 50% do espaço */
        #f08b35 50%      /* Segunda cor, começando em 50% */
    );
    border: 1px solid #ea7019; /* Mantém a borda original */
}

.indicativo.aguardando {
    background-color: #a0d8f6; /* Azul */
    border: 1px solid #0066cc;
}

.indicativo.confirmado {
    background-color: #57ef2dff; /* Verde */
    border: 1px solid #00cc44;
}

/* Para melhor visualização da cor branca */
td {
    padding: 5px 10px;
    background-color: #f8f9fa;
}

/* Adicione isso em AgendaPaciente.css para estilizar o ícone de informação */
.header-agenda {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinhar à esquerda */
    margin-bottom: 10px;
    gap: 15px;
}

.icone-info {
    width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.icone-info:hover {
    background-color: #0056b3;
  transform: scale(1.1);
}

.cabeca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botoes-agenda {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-urgencia {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-urgencia:hover {
    background-color: #b02a37;
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
    

    .cabeca h1 {
        font-size: 1.2rem;
    }
}